@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
   @apply w-full h-16 z-10 fixed bg-transparent;

   .navbar-container {
      @apply container flex items-center justify-between h-full mx-auto px-4;

      h2 {
         @apply font-bold cursor-pointer text-error text-info;
      }
      .search-icon {
         @apply cursor-pointer text-info text-primary;
      }
   }
}

.active {
   @apply bg-default;
   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   @-webkit-keyframes fade-in-fwd {
      0% {
         -webkit-transform: translateZ(-80px);
         transform: translateZ(-80px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateZ(0);
         transform: translateZ(0);
         opacity: 1;
      }
   }
   @keyframes fade-in-fwd {
      0% {
         -webkit-transform: translateZ(-80px);
         transform: translateZ(-80px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateZ(0);
         transform: translateZ(0);
         opacity: 1;
      }
   }
}
