@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   @apply bg-default relative;
}

body {
   line-height: 1.4;
   letter-spacing: 0.5px;
}
/*
Typography:
 - line-height
 - space-letter
 
 font-size:
 
 - text-content: 1rem
 - text-info: 1.5rem
 - text-title: 3rem
 
font-family
 
 /////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////
 
Color:
 - default: #020617
 - primary: #f8fafc
 - secondary: #015C92
 - success: #16a34a
 - warning: #f59e0b
 - info: #0284c7
 - danger: #dc2626
 */
